<h1><%= @restaurant.name %></h1>

<p>
<%= link_to "Edit", edit_restaurant_path(@restaurant)  %>
</p>

<p>
  <%= link_to 'Remove', restaurant_path(@restaurant), method: :delete  %>
</p>


<p>
<%= link_to restaurants_path do  %>
  House Button
<% end %>
</p>

<%#= link_to "House Button", restaurants_path  %>
